body{
    height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.header{
    background-color: #1f2937;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 20px;
}

.main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.image-placeholder {
    width: 500px;
    height: 200px;
    background-color: #ddd; 
    color: #aaa; 
    font-size: 16px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.info{
    max-width: 500px;
}

.title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 40px;
}

.box-info{
    display: flex;
    max-width: 500px;
}

.item{
    display: flex;
    flex-direction: column;
   text-align: center;
   align-items: center; 
   margin-left: 100px;
   padding-top: 30px;
   
}

.item p{
    color: #1f2937;
}

.image-box{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #3882f6;
    border-radius: 20px;
    display: flex;
}

.submain-2{
    background-color: #e5e7eb;
    padding: 100px;
    margin-top: 100px;
}

.quote,
.name{
    color: #1f2937;
    font-size: 36px;
}

.author{
    font-weight: bold;
    text-align: right;
}

.quote{
    font-style: italic;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.submain-3{
    background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
    padding: 40px;
    align-items: center;
    border-radius: 10px;
}

.Sign-up{
    padding: 10px 20px;
    color: white;
    background-color: #3882f6;
    border-color: #e5e7eb;
    border-radius: 10px;
    border-style: solid;
    font-weight: bold;
    font-size: 18px;
}

.text{
    font-size: 24px;
    color: #e5e7eb;
    font-weight: 600;
    padding: 20px;
    margin: auto;
}

.action p{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
    margin: auto;
}

.footer{
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 30px;
}

.footer-text{
    text-align: center;
}
    
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px 0;
}

.sign-up{
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.logo{
    font-size: 24px;
    color: white;
}
